*{
    font-family: 'Montserrat', sans-serif;
}
header{
    position: relative;
    .GoBottom{
        position: absolute;
        left: 50%;
        bottom: 30px;
        color: #fff;
        font-size: 30px;
    }
}
.navbar{
    background-color: rgba($color: #252525, $alpha: 0.7);
    display: block;
    padding: 0;
    overflow: hidden;

    .navbar-brand{
        margin: 8px 100px 0 20px;
    }
    .navbar-toggler{
        color: #fff;
        &:hover{
            color: #ec6f2d;
        }
    }
    .BoxMenu{
        float: right;
        background: #252525;
        padding: 30px 60px;

        button{
            &:focus{
                outline: none;
            }
        }
        .navbar-collapse{
            margin-top: 20px;
        }
    }
}
.Banner{
	/*height: 617px;*/
	background: url(../imgs/banner.jpg) no-repeat;
    background-size: cover;

    .Busca{
        color: #fff;
        i{
            margin-right: 30px;
            font-size: 25px;
        }
        input{
            background: transparent;
            border: none;
            color: #fff;
            padding: 5px;
            font-size: 16px;
        }

        input::placeholder{            
                color: #fff;
                font-size: 20px;
                text-transform: uppercase;
                font-size: 15px;
        }
    }
    .Menu{
        a{
            color: #fff;
        }
    }
    h1{
        font-size: 50px;
        letter-spacing: 4px;
        font-weight: 700;
        color: #fff;
        margin: 0;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
    }
    h2,h3{
        font-size: 40px;
        color: #fff;
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
    }
    h4{
        font-size: 20px;
        color: #fff;
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
    }
    h6{
        font-size: 20px;
        font-weight: 400;
        color: #fff;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
    }
    .Form{
        background-color: rgba($color: #ec6f2d, $alpha: 0.8);
        width: 100%;
        overflow: hidden;
        text-align: center;
        padding-bottom: 150px;
        span{
            color: #fff;
            font-size: 30px;
            font-weight: 700;
            display: block;
            margin-top: 100px;
        }
        p{
            color: #fff;
            padding: 0 30px;
        }
        form{
            padding: 20px;
            input{
                border-radius: 0;
            }
            .BtnForm{
                width: 100%;
                text-transform: uppercase;
                &:hover{
                    background-color: #ec6f2d;
                    color: #fff;
                }
            }
        }
    }
}

#QeumSomos{
    padding: 80px 0;
    .col-md-7{
        background-color: #ecf2f2;
        ul{
            margin: 20px 0 30px 0;
            padding: 0;
            list-style: none;
            li{
                display: inline-block;
                margin: 0 10px;
                &:first-child{
                    margin-left: 0;
                }
                a{
                    display: block;
                    color: #fff;
                    background-color: #ec6f2d;
                    font-size: 15px;
                    font-weight: 700;
                    padding: 15px 20px;
                    text-transform: uppercase;
                    &:hover{
                        text-decoration: none;
                        background-color: #d45611;
                    }
                    i{
                        margin-right: 8px;
                    }
                }
            }
        }
        h1{
            font-weight: 700;
            font-size: 30px;
            color: #5e5e5e;
        }
        p{font-size: 16px;color: #5e5e5e;}
        button{
            border:none;
            float: right;
            color: #fff;
            text-transform: uppercase;
            font-size: 15px;
            padding: 15px 20px;
            background-color: #eb4825;
            font-weight: 700;
            cursor: pointer;
            i{margin-right: 8px;font-size: 16px;}
            &:hover{
                background-color: #ec6f2d;
            }
        }
    }
}
#Servicos{
    background: linear-gradient(90deg, #ec6f2d 50%, #454545 50%);
    padding: 60px 0;
    h1{
        color: #5d5d5d;
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 30px;
    }
    ul{
        list-style: none;
        padding: 0;
        width: 50%;
        float: left;
        li{
            margin-bottom: 30px;
            display: flex;
            i{
                color: #fff;
                font-size: 40px;
                margin: 7px 15px 0 0;
            }
            strong{
                font-size: 15px;
                color: #5d5d5d;
            }
            p{
                color: #5d5d5d;
                font-size: 13px;
            }
        }
    }
    .Carousel{
        padding:0 40px;
        justify-content: center;
        .slide{
            display: none;
        }
        .btnSlide{
            color: #fff;
            font-weight: 700;
            font-size: 15px;
            text-transform: uppercase;
            display: inline-block;
            padding: 15px 20px;
            border:1px solid #d45611;
            position: relative;
            margin-right: 30px;
            margin-bottom: 30px;
            &:hover{
                background-color: #d45611;
                text-decoration: none;
            }
        }
        .btnSlideAtivo{
            background-color: #d45611;
            &::before{
                content: ' ';
                display: block;
                width: 0; 
                height: 0; 
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-top: 10px solid #d45611;
                position: absolute;
                left:50%;
                bottom: -10px;
                margin-left: -5px;
            }
        }
        button{
            border:none;
            background: transparent;
            color: #fff;
            font-size: 30px;
            cursor: pointer;
            &:focus{outline: none;}
        }
    }
}
#Localizacao{
    background-color: #454545;
    padding: 60px 0 0 0;
    h1{
        font-size: 40px;
        color: #d45611;
        font-weight: 700;
    }
    h2{
        font-size: 30px;
        color: #fff;
        font-weight: 700;
        text-transform: uppercase;
        i{color: #d45611;}
    }
    p{
        font-size: 14px;
        color: #fff;
        line-height: 25px;;
    }
    button{
        color: #fff;
        font-size: 15px;
        font-weight: 700;
        padding: 15px 20px;
        margin-bottom: 20px;
        text-transform: uppercase;
        border:none;
        cursor: pointer;
        i{font-size: 20px;}
        &:first-child{
            background-color: #d45611;
            margin-right: 15px;
            &:hover{
                background-color: #eb4825;
            }
        }
        &:last-child{
            background-color: #eb4825;
            &:hover{
                background-color: #d45611;
            }
        }
    }
}
footer{
    background-color: #171717;
    padding: 60px 0 80px 0;
    hr{border-top: 2px solid #272727;}
    p{
        font-size: 13px;
        color: #616161;
    }
}

@media (max-width: 767.98px) {
    .Busca{display: none;}
    .navbar .BoxMenu{padding: 30px;}
    .navbar .navbar-brand{
        margin: 8px 0 0 20px;
    }
    #QeumSomos .col-md-7 ul li{
        float: left;
        margin: 10px 5px;
    }
    #QeumSomos .col-md-7 h1{display: block;margin: 20px 0;}
    #QeumSomos .col-md-7 button{float: left;}
    #Servicos{
        background: linear-gradient(180deg, #ec6f2d 70%, #454545 30%);
        ul{
            width: 100%;
            background-color: #ec6f2d;
        }
        .BoxSlide{
            background-color: #454545;
        }
        .Carousel{
            padding: 20px;
            .btnSlide{
                padding: 10px;
                margin-right: 3px;
            }
            button{
                display: none;
            }
        } 
    }
    #Localizacao h2{
        font-size: 27px;
        margin-bottom: 30px;
    }
}